.btn {
    display: inline-block;
    padding: 12px 40px;
    font-size: 18px;
    line-height: 20px;
    border: none;
    border-radius: 3px;
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
}
.btn:hover {
    background-color: var(--secondary-color-dark);
    box-shadow: 0px 2px 4px #0005;
    opacity: 1;
}
.right-column > .form > button {
    display: inline-block;
    float: right;
}
.hero > .btn {
    align-items: center;
}